# Git
.git
.gitignore

# Python virtual environment and cache
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
